body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    background-color: olive;
    border: 0;
}
.list ul{
    padding: 20px;
}
.list li{
    list-style: disc;
    font-weight: bold;
    padding: 20px;
    margin-right: 0px;
}