#customers{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    border-collapse: collapse;
}
#customers td, #customer th {
    font-size: 0.9em;
    border: 1px solid #98bf21; /* Viền ô */
    padding: 3px 7px 2px 7px; /* Khoảng cách bên trong ô */
}
#customers th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #a7c942;
    color: white;
}
#customers tr.alt td{
    color:black;
    background-color: #EAF2D3;
}
